.item__persona-burbuja {
  color: white;
  width: 70px;
  height: 70px;
  padding: 10px;
  position: absolute;
  font-size: 10px;
  border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
  background: #292e33;
  display: block;
  box-shadow: 0 0 10px #12f7ff;
  border: 1px solid #12f7ff;
  animation: morph 6s linear infinite;
  text-align: center;
}
